<li>
	{{name}}

	<button class="change-order" data-id="{{id}}" data-newburger="{{sleep}}">
		{{#if hungry}}Order{{else}}Order{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Devour</button>
</li>
