<li>
	{{name}}

	<button class="change-order" data-id="{{id}}" data-newburger="{{order}}">
		{{#if hungry}}order{{else}}devour{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Devour</button>
</li>
